body{
    background-color: gray;
    font-family: "Roboto", Arial;
    color: lightgray;
    text-align: center;
    font-weight: 400;
}

span{
    color: white;
}

button{
  padding: 20px;
  border-radius: 12px;
  border: none;
  background-color: rgb(105, 105, 105);
  color: white;
}

button:hover{
  background-color: rgb(100, 100, 100);
}

button:active{
  background-color: rgb(70, 70, 70);
}