body{
    background-color: gray;
    font-family: Arial, sans-serif;
    color: lightgray;
    text-align: center;
    font-weight: normal;
}

span{
    color: white;
}

button{
  padding: 20px;
  border-radius: 12px;
  border: none;
}

button:hover{
  background-color: rgb(100, 100, 100);
}

button:active{
  background-color: rgb(70, 70, 70);
}